@model Roleplay.ViewModels.CreateCharacterViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Are you sure you want to delete @Html.DisplayFor(C => C.Character.CharacterName)?</h1>
<hr/>

<div class="card w-100 mb-5">
    <div class="card-header text-center text-light">
        @Html.DisplayFor(c => c.Character.CharacterName)
    </div>
    <div class="card-body text-center">
        <i class="@Html.DisplayFor(c=> c.Character.CharacterClass.CharacterClassIcon) fa-5x"></i>
        <p></p>
        <h6 class="card-title">@Html.DisplayFor(c => c.Character.CharacterGender)</h6>
        <h5 class="card-title">@Html.DisplayFor(c => c.Character.CharacterClass.CharacterClassName)</h5>
        <p class="card-text">@Html.DisplayFor(c => c.Character.CharacterDescription)</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Age: @Html.DisplayFor(c => c.Character.CharacterAge)</li>
        <li class="list-group-item">Favourite weapon: @Html.DisplayFor(c => c.Character.FavouriteWeapon)</li>
        <li class="list-group-item">Hometown: @Html.DisplayFor(c => c.Character.HomeTown)</li>
        <li class="list-group-item">Created by @Html.DisplayFor(c => c.Character.Player.Name) </li>
    </ul>
    <div class="card-footer">
        <p><a asp-action="Index">I beg forgiveness sir, let me reconsider...</a></p>
    </div>
</div>
<form asp-action="Delete">
    <input type="hidden" asp-for="Character.CharacterID" />
    <input type="submit" value="Be gone and never return!" class="btn btn-danger" />
</form>
<p></p>