@model Roleplay.ViewModels.EditAdventureViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <h1>Are you sure you want to delete @Html.DisplayFor(a => a.Adventure.Title)?</h1>

    <hr />
 
                <div class="card w-100 mb-5">
                    <div class="card-header text-center text-light">
                        @Html.DisplayFor(a => a.Adventure.Title)
                    </div>
                    <div class="card-body text-center h-100">
                        <h5 class="card-title">Summary</h5>
                        <p class="card-text">@Html.DisplayFor(a => a.Adventure.Summary)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Genre: @Html.DisplayFor(a => a.Adventure.Genre)</li>
                        <li class="list-group-item">Villain: @Html.DisplayFor(a => a.Adventure.MainVillain)</li>
                        <li class="list-group-item">Created by @Html.DisplayFor(a => a.Adventure.Author) </li>
                    </ul>
                    <div class="card-footer">
                        <p><a asp-action="Index">I beg forgiveness sir, let me reconsider...</a></p>
                    </div>

                </div>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Adventure.AdventureID" />
            <input type="submit" value="Be gone and never return!" class="btn btn-danger" />
        </form>

    <p></p>
