@model Roleplay.ViewModels.ListAdventureViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center">Adventures</h1>

<p class="text-center">
    <a asp-action="Create">Create a new adventure</a>
</p>
<div class="container">
    <div class="row">
        @foreach (var item in Model.Adventures)
        {
            <div class="col-sm-4 d-flex align-items-stretch">
                <div class="card w-100 mb-5">
                    <div class="card-header text-center text-light">
                        @Html.DisplayFor(modelItem => item.Title)
                    </div>
                    <div class="card-body text-center h-100">
                        <h5 class="card-title">Summary</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Summary)</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Genre: @Html.DisplayFor(modelItem => item.Genre)</li>
                        <li class="list-group-item">Villain: @Html.DisplayFor(modelItem => item.MainVillain)</li>
                        <li class="list-group-item">Created by @Html.DisplayFor(modelItem => item.Author) </li>
                    </ul>
                    <div class="card-footer">
                        <a asp-action="Edit" asp-route-id="@item.AdventureID">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.AdventureID">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>