@model PR5_Roleplay.Models.Session

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h2>Session</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adventure)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adventure.AdventureID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SessionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
